
=r($width)
  @media only screen and (max-width: $width+ "px")
    @content



// ------------------------------------------------------------------------
body 
	background: rgba(120,100,200,.8) 
// .container
// 	min-height: 100vh
// 	max-width: 940px
// 	margin: 0 auto
// 	+r(840)
// 	  margin: 0 10px
.titlePage
	text-align: center
	padding: 20px
	color: #fff
	text-transform: uppercase
	font-style: italic
	letter-spacing: 2px

pre 
	color: teal
	font-size: 1.05em
	line-height: 1.4
	padding: 10px
	padding-top: 15px
	white-space: pre-wrap
	word-wrap: break-word

button 
	font-size: 1.5em
	align-self: flex-end


